<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.label :nombre %><br>
  <%= form.text_field :nombre %><br>

  <%= form.label :apellido %><br>
  <%= form.text_field :apellido %><br>

  <%= form.label :email %><br>
  <%= form.text_field :email %><br>

  <%= form.label :nacimiento %><br>
  <%= form.date_field :nacimiento %><br>

  <%= form.label :Rol %><br>
  <%= form.select :roles, ['admin', 'premium' ,'regular' ], selected: 'regular' %><br>


  <div>
    <%= form.submit %>
  </div>
<% end %>
