<p style="color: green"><%= notice %></p>

<h1>Usuarios</h1>

<div id="usuarios">
  <% @usuarios.each do |usuario| %>
    <%= render usuario %>
    <p>
      <%= usuario.nombre.concat(' ').concat(usuario.apellido)%> |
      <%= link_to "Mostrar usuario", usuario %>
      
    </p>
  <% end %>
</div>

<%= link_to "Nuevo usuario", new_usuario_path %>
