<p style="color: green"><%= notice %></p>

<%= render @usuario %>

<div>
  <%= @usuario.nombre.concat(' ').concat(@usuario.apellido)%> |
  <%= @usuario.email.concat(' ').concat(@usuario.roles.to_s)%> |
  <%= link_to "Editar este usuario", edit_usuario_path(@usuario) %> |
  <%= link_to "Volver", usuarios_path %>
  <%= button_to "Destruir este usuario", @usuario, method: :delete %>
</div>
