<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :titulo %>
  <%= form.text_field :titulo %>

  <%= form.label :contenido %>
  <%= form.text_field :contenido %>

  <%= form.label :usuario %>
  <%= form.select :usuario_id, Usuario.all.map { |u| [u.nombre, u.id]},selected: 0%>


  <div>
    <%= form.submit %>
  </div>
<% end %>
