<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= @post.titulo.concat(': ').concat(@post.contenido)%>
  <%= link_to "Editar este post", edit_post_path(@post) %> |
  <%= link_to "Volver a posts", posts_path %>

  <%= button_to "Destruir este post", @post, method: :delete %>
</div>
